<div class="container">
  <h1 class="title">Danh sách dịch vụ</h1>
  <div class="d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight">
      <a class="btn btn-primary" [routerLink]="'/service/create'" role="button">Thêm mới dịch vụ</a>
    </div>
    <div class="p-2 bd-highlight">
      <input class="form-control search p-2 bd-highlight" type="search"
             placeholder="Nhập tên dịch vụ"
             aria-label="Search" [(ngModel)]="term">
    </div>
    <div class="p-2 bd-highlight">
      <button class="btn btn-outline-primary" type="submit">Tìm kiếm</button>
    </div>
  </div>
</div>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Mã dịch vụ</th>
      <th scope="col">Tên dịch vụ</th>
      <th scope="col">Diện tích</th>
      <th scope="col">Số tần</th>
      <th scope="col">Số người tối đa</th>
      <th scope="col">Giá thuê</th>
      <th scope="col">Trạng thái</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services |filter:term |paginate: { itemsPerPage: 5, currentPage: p }">
      <th>{{services.indexOf(service)+1}}</th>
      <td>{{service.serviceCode}}</td>
      <td>{{service.name}}</td>
      <td>{{service.area}}</td>
      <td>{{service.numberOfFloor}}</td>
      <td>{{service.maximumPeople}}</td>
      <td>{{service.rent}}</td>
      <td>{{service.status}}</td>
      <td class="text-center">
        <i class="material-icons mx-3" title="View" (click)="openView(service.id)">visibility</i>
        <a  [routerLink]="['/service/edit/',service.id]"><i class="material-icons text-warning mr-3" title="Edit">create</i></a>
        <i class="material-icons text-danger" title="Delete" (click)="openDialog(service.id)">delete_outline</i>
      </td>
    </tr>
    </tbody>
  </table>
<div class="d-flex justify-content-center">
  <pagination-controls (pageChange)="p = $event" ></pagination-controls>
</div>

