<div class="container">
  <h1 class="title">Danh sách hợp đồng</h1>
  <div>
    <div>
      <nav class="navbar navbar-light px-0">
        <a class="btn btn-primary" [routerLink]="'/contract/create'" role="button">Thêm mới hợp đồng</a>
        <form class="form-inline" [formGroup]="searchContractForm" (ngSubmit)="onSearch()">
          <input class="form-control mr-sm-2 search" type="search"
                 placeholder="Nhập tên khách hàng"
                 aria-label="Search" formControlName="key">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Tìm kiếm</button>
        </form>
      </nav>
    </div>
  </div>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Mã hợp đồng</th>
      <th scope="col">Tên nhân viên</th>
      <th scope="col">Tên khách hàng</th>
      <th scope="col">Tên dịch vụ sử dụng</th>
      <th scope="col">Tổng tiền</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
  </table>
