<h1 class="title">Chi tiết dịch vụ</h1>
<table>
  <tr>
    <th scope="col">ID: </th>
    <td>{{serviceDetail.id}}</td>
  </tr>
  <tr>
    <th scope="col">Mã dịch vụ: </th>
    <td>{{serviceDetail.serviceCode}}</td>
  </tr>
  <tr>
    <th scope="col">Tên dịch vụ: </th>
    <td>{{serviceDetail.name}}</td>
  </tr>
  <tr>
    <th scope="col">Diện tích: </th>
    <td>{{serviceDetail.area}}</td>
  </tr>
  <tr>
    <th scope="col">Số tầng: </th>
    <td>{{serviceDetail.numberOfFloor}}</td>
  </tr>
  <tr>
    <th scope="col">Số người tối đa: </th>
    <td>{{serviceDetail.maximumPeople}}</td>
  </tr>
  <tr>
    <th scope="col">Giá: </th>
    <td>{{serviceDetail.rent}}</td>
  </tr>
  <tr>
    <th scope="col">Kiểu thuê: </th>
    <td>{{serviceDetail.typeRent}}</td>
  </tr>
  <tr>
    <th scope="col">Loại dịch vụ: </th>
    <td>{{serviceDetail.typeService}}</td>
  </tr>
  <tr>
    <th scope="col">Trạng thái: </th>
    <td>{{serviceDetail.status}}</td>
  </tr>
</table>
<div class="wrapper d-flex justify-content-center">
  <button mat-dialog-close class="btn btn-primary " >Close</button>
</div>
