<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<h1>Edit Customer</h1>
<p>
    <a href="/customer/">Customer list</a>
</p>
<body>
<form th:action="@{/customer/edit}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select th:field="*{province.id}">
                    <option th:each="p : ${provinces}"
                            th:value="${p.id}"
                            th:text="${p.nameProvince}";
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>