<h1 class="title">Danh sách khách hàng</h1>
<div>
  <div>
    <nav class="navbar navbar-light px-0">
      <a class="btn btn-primary" [routerLink]="'/customer/create'" role="button">Thêm mới khách hàng</a>
      <form class="form-inline" [formGroup]="searchCustomerForm" (ngSubmit)="onSearch()">
        <input class="form-control mr-sm-2 search" type="search"
               placeholder="Nhập tên khách hàng"
               aria-label="Search" formControlName="key">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Tìm kiếm</button>
      </form>
    </nav>
  </div>
</div>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Mã khách hàng</th>
    <th scope="col">Tên khách hàng</th>
    <th scope="col">Số chứng minh thư</th>
    <th scope="col">Số điện thoại</th>
    <th scope="col">Địa chỉ</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
</table>


