<h1 class="title">Danh sách khách hàng</h1>
<div class="d-flex bd-highlight mb-3">
  <div class="mr-auto p-2 bd-highlight">
    <a class="btn btn-primary" [routerLink]="'/customer/create'" role="button">Thêm mới khách hàng</a>
  </div>
  <div class="p-2 bd-highlight">
    <input class="form-control search p-2 bd-highlight" type="search"
           placeholder="Nhập tên khách hàng"
           aria-label="Search" [(ngModel)]="term">
  </div>
  <div class="p-2 bd-highlight">
    <button class="btn btn-outline-primary" type="submit">Tìm kiếm</button>
  </div>
</div>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Mã khách hàng</th>
    <th scope="col">Tên khách hàng</th>
    <th scope="col">Số chứng minh thư</th>
    <th scope="col">Số điện thoại</th>
    <th scope="col">Địa chỉ</th>
    <th scope="col" class="text-center">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers |filter:term |paginate: { itemsPerPage: 5, currentPage: p }">
    <th scope="row">{{customer.id}}</th>
    <td>{{customer.customerCode}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.idCard}}</td>
    <td>{{customer.phoneNumber}}</td>
    <td>{{customer.address}}</td>
    <td class="text-center">
      <i class="material-icons mx-3" title="View">visibility</i>
      <i class="material-icons text-warning mr-3" title="Edit">create</i>
      <i class="material-icons text-danger" title="Delete">delete_outline</i></td>
  </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>


