<div class="container">
  <div class="row">
    <div class="col-4 mt-2">
      <a [routerLink]="'/contract/list'" class="btn btn-primary">
        <span class="badge badge-light">< </span> Trở về trang danh sách
      </a>
    </div>
    <div class="col-8">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <h1 class="title">Thêm Mới Hợp Đồng</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <form [formGroup]="createContractForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
        <div class="form-group row">
          <label class="col">
            Mã hợp đồng
            <input class="form-control" formControlName="id">
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createContractForm.get('id').invalid && createContractForm.get('id').touched">
          <span *ngIf="createContractForm.get('id').hasError('required')">Mã hợp đồng không được để trống</span>
        </div>
        <div class="form-group row">
          <label class="col">
            Nhân viên tạo hợp đồng
            <select formControlName="idEmployee" class="form-control">
              <option value="">Chọn</option>
              <ng-container *ngFor="let employee of EmployeeList">
                <option value="{{employee.id}}">{{employee.name}}</option>
              </ng-container>
            </select>
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createContractForm.get('idEmployee').invalid && createContractForm.get('idEmployee').touched">
          Nhân viên tạo hợp đồng không được để trống
        </div>
        <div class="form-group row">
          <label class="col">
            Khách hàng sử dụng dịch vụ
            <select formControlName="idCustomer" class="form-control">
              <option value="">Chọn</option>
              <ng-container *ngFor="let customer of CustomerList">
                <option value="{{customer.id}}">{{customer.name}}</option>
              </ng-container>
            </select>
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createContractForm.get('idCustomer').invalid && createContractForm.get('idCustomer').touched">
          Khách hàng sử dụng dịch vụ không được để trống
        </div>
        <div class="form-group row">
          <label class="col">
            Dịch vụ sử dụng
            <select formControlName="idService" class="form-control">
              <option value="">Chọn</option>
              <ng-container *ngFor="let service of ServiceList">
                <option value="{{service.id}}">{{service.name}}</option>
              </ng-container>
            </select>
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createContractForm.get('idService').invalid && createContractForm.get('idService').touched">
          Dịch vụ sử dụng không được để trống
        </div>
          <div class="form-group row">
            <label class="col">
              Ngày làm hợp đồng
              <input class="form-control" type="date" formControlName="dateMakeContract">
            </label>
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="createContractForm.get('dateMakeContract').invalid && createContractForm.get('dateMakeContract').touched">
          <span *ngIf="createContractForm.get('dateMakeContract').hasError('required')">
            Ngày làm hợp đồng phải đúng với số ngày trong tháng hoặc số tháng trong năm và không được để trống</span>
            <span *ngIf="createContractForm.get('dateMakeContract').hasError('pattern')">
            Ngày làm hợp đồng không đúng định dạng dd/MM/yyyy</span>
          </div>
          <div class="form-group row">
            <label class="col">
              Ngày kết thúc hợp đồng
              <input class="form-control" type="date" formControlName="dateEndContract">
            </label>
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="createContractForm.get('dateEndContract').invalid && createContractForm.get('dateEndContract').touched">
          <span *ngIf="createContractForm.get('dateEndContract').hasError('required')">
            Ngày kết thúc hợp đồng phải đúng với số ngày trong tháng hoặc số tháng trong năm và không được để trống</span>
            <span *ngIf="createContractForm.get('dateEndContract').hasError('pattern')">
            Ngày kết thúc hợp đồng không đúng định dạng dd/MM/yyyy</span>
          </div>
        <div class="form-group row">
          <label class="col">
            Tiền đặt cọc
            <input class="form-control" formControlName="deposit">
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createContractForm.get('deposit').invalid && createContractForm.get('deposit').touched">
          <span *ngIf="createContractForm.get('deposit').hasError('required')">
            Tiền cọc không được để trống</span>
          <span *ngIf="createContractForm.get('deposit').hasError('pattern')">
           Tiền cọc phải là số dương</span>
        </div>
        <div class="form-group">
          <button class="btn btn-info" [disabled]="createContractForm.invalid" type="submit">Thêm Mới</button>
        </div>
      </form>
    </div>
  </div>
</div>
