<div class="container">
  <div class="row">
    <div class="col-4 mt-2">
      <a [routerLink]="'/employee/list'" class="btn btn-primary">
        <span class="badge badge-light">< </span> Trở về trang danh sách
      </a>
    </div>
    <div class="col-8">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <h1 class="title">Thêm Mới Nhân Viên</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <form [formGroup]="createEmployeeForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
        <div class="form-group row">
          <label class="col">
            Mã nhân viên
            <input class="form-control" formControlName="id">
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createEmployeeForm.get('id').invalid && createEmployeeForm.get('id').touched">
          <span *ngIf="createEmployeeForm.get('id').hasError('required')">Mã nhân viên không được để trống</span>
          <span *ngIf="createEmployeeForm.get('id').hasError('pattern')">Mã nhân viên có dạng NV-XXXX</span>
        </div>
        <div class="form-group row">
          <label class="col">
            Tên nhân viên
            <input class="form-control" formControlName="name">
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createEmployeeForm.get('name').invalid && createEmployeeForm.get('name').touched">
          <span *ngIf="createEmployeeForm.get('name').hasError('required')">Tên nhân viên không được để trống</span>
        </div>
        <div class="form-group row">
          <label class="col">
            Ngày sinh
            <input class="form-control" type="date" formControlName="birthday">
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createEmployeeForm.get('birthday').invalid && createEmployeeForm.get('birthday').touched">
          <span *ngIf="createEmployeeForm.get('birthday').hasError('required')">
            Ngày sinh phải đúng với số ngày trong tháng hoặc số tháng trong năm và không được để trống</span>
          <span *ngIf="createEmployeeForm.get('birthday').hasError('pattern')">
            Ngày sinh khách hàng không đúng định dạng dd/MM/yyyy</span>
        </div>
        <div class="form-group row">
          <label class="col">
            Số chứng minh nhân dân
            <input class="form-control" formControlName="idCard">
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createEmployeeForm.get('idCard').invalid && createEmployeeForm.get('idCard').touched">
          <span *ngIf="createEmployeeForm.get('idCard').hasError('required')">
            Số chứng minh nhân dân không được để trống</span>
          <span *ngIf="createEmployeeForm.get('idCard').hasError('pattern')">
            Số chứng minh nhân dân chỉ bao gồm số và có 9 hoặc 12 ký tự</span>
        </div>
        <div class="form-group row">
          <label class="col">
            Số điện thoại
            <input class="form-control" formControlName="phoneNumber">
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createEmployeeForm.get('phoneNumber').invalid && createEmployeeForm.get('phoneNumber').touched">
          <span *ngIf="createEmployeeForm.get('phoneNumber').hasError('required')">
            Số điện thoại không được để trống</span>
          <span *ngIf="createEmployeeForm.get('phoneNumber').hasError('pattern')">
            Số điện thoại phải đúng định dạng 090xxxxxxx hoặc 091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx</span>
        </div>
        <div class="form-group row">
          <label class="col">
            Địa chỉ email
            <input class="form-control" formControlName="email">
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createEmployeeForm.get('email').invalid && createEmployeeForm.get('email').touched">
          <span *ngIf="createEmployeeForm.get('email').hasError('required')">
            Email không được để trống</span>
          <span *ngIf="createEmployeeForm.get('email').hasError('pattern')">
            Email không đúng định dạng</span>
        </div>
        <div class="form-group row">
          <label class="col">
            Địa chỉ
            <input class="form-control" formControlName="address">
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createEmployeeForm.get('address').invalid && createEmployeeForm.get('address').touched">
          <span *ngIf="createEmployeeForm.get('address').hasError('required')">
            Địa chỉ không được để trống</span>
        </div>
        <div class="form-group row">
          <label class="col">
            Lương
            <input class="form-control" formControlName="salary">
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createEmployeeForm.get('salary').invalid && createEmployeeForm.get('salary').touched">
          <span *ngIf="createEmployeeForm.get('salary').hasError('required')">
            Lương không được để trống</span>
          <span *ngIf="createEmployeeForm.get('salary').hasError('pattern')">
            Lương là số dương</span>
        </div>
        <div class="form-group row">
          <label class="col">
            Vị trí
            <select formControlName="idPosition" class="form-control">
              <option value="">Chọn</option>
              <ng-container *ngFor="let employeePos of EmployeePosList">
                <option value="{{employeePos.id}}">{{employeePos.namePosition}}</option>
              </ng-container>
            </select>
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createEmployeeForm.get('idPosition').invalid && createEmployeeForm.get('idPosition').touched">
          Vị trí không được để trống
        </div>
        <div class="form-group row">
          <label class="col">
            Trình độ
            <select formControlName="idLevel" class="form-control">
              <option value="">Chọn</option>
              <ng-container *ngFor="let levelEmployee of LevelList">
                <option value="{{levelEmployee.id}}">{{levelEmployee.nameLevel}}</option>
              </ng-container>
            </select>
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createEmployeeForm.get('idLevel').invalid && createEmployeeForm.get('idLevel').touched">
          Trình độ không được để trống
        </div>
        <div class="form-group row">
          <label class="col">
            Bộ phận làm việc
            <select formControlName="idPart" class="form-control">
              <option value="">Chọn</option>
              <ng-container *ngFor="let part of PartList">
                <option value="{{part.id}}">{{part.namePart}}</option>
              </ng-container>
            </select>
          </label>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="createEmployeeForm.get('idPart').invalid && createEmployeeForm.get('idPart').touched">
          Bộ phận làm việc không được để trống
        </div>
        <div class="form-group">
          <button class="btn btn-info" type="submit">Thêm Mới</button>
        </div>
      </form>
    </div>
  </div>
</div>
